.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    font-size: 22px;
    font-family:sans-serif;
    color: black;
}

.common{
    position: absolute;
}

.subheader{
    float: right;
}

h5{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
}

.footer{
    bottom: 8px;
    height: 8px;
    left: 5px;
    right: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
    position:relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

.homebg {
    background-image: url('../Images/paper.jpg');
    background-position;
    background-size:contain;
}

caption{
    display: table-caption; 
    text-align: center;
}



.tableau{
    padding-top: 15px;
    padding-bottom: 15px;
}

